@model Student
@{
    List<Programs> ProgramsList = new ProgramsService().FindAll(User.Identity.Name);
    //var image_url = "https://s3.ap-south-1.amazonaws.com/cvlinked/CorporateLogos/" + @Model.Person.Photo;
}

<div class="container-fluid">
    @Html.Partial("Notifications/_Notification")

    <div class="row pl-4">
        <h4 class="mt-4 mb-1 font-weight-light "><i class="fas fa-user-plus"></i>&nbsp; ADD NEW STUDENT</h4>
    </div>
    <hr class="c-hr-gray mb-4" />
    <div class="container-fluid">
        <form asp-action="StudentCreate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control  " required />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="@Model.PersonalInformation.FullName" class="control-label"></label>
                    <input asp-for="@Model.PersonalInformation.FullName" class="form-control  " required />
                    <span asp-validation-for="@Model.PersonalInformation.FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-4">
                    <label asp-for="Programs.Name" class="control-label"></label>
                    <select asp-for="Programs.Id" class="form-control">
                        @foreach (var items in ProgramsList)
                        {
                            <option value=@(items.Id)>@items.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Programs" class="text-danger"></span>
                </div>


                <div class="form-group col-md-8">
                    <label asp-for="@Model.PersonalInformation.FathersName" class="control-label"></label>
                    <input asp-for="@Model.PersonalInformation.FathersName" class="form-control " required />
                    <span asp-validation-for="@Model.PersonalInformation.FathersName" class="text-danger"></span>
                </div>
                

                <div class="form-group col-md-8">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="@Model.Login.Role" class="control-label"></label>
                            <input asp-for="@Model.Login.Role" value="Student" readonly class="form-control" />
                            <span asp-validation-for="@Model.Login.Role" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label asp-for="@Model.PersonalInformation.MothersName" class="control-label"></label>
                            <input asp-for="@Model.PersonalInformation.MothersName" class="form-control " required />
                            <span asp-validation-for="@Model.PersonalInformation.MothersName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.PersonalInformation.Gender" class="control-label"></label>
                            <select asp-for="@Model.PersonalInformation.Gender" class="form-control " required>
                                <option value="Others">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <span asp-validation-for="@Model.Login.Role" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.PersonalInformation.DateOfBirth" class="control-label"></label>
                            <input asp-for="@Model.PersonalInformation.DateOfBirth" class="form-control" required />
                            <span asp-validation-for="@Model.PersonalInformation.DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.PersonalInformation.Email" class="control-label"></label>
                            <input asp-for="@Model.PersonalInformation.Email" class="form-control" />
                            <span asp-validation-for="@Model.PersonalInformation.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.PersonalInformation.Contact" class="control-label"></label>
                            <input asp-for="@Model.PersonalInformation.Contact" class="form-control" required />
                            <span asp-validation-for="@Model.PersonalInformation.Contact" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="form-group col-md-4">
                    <img class="edit-image" id="output"  />
                    <div class="custom-file">
                        <input asp-for="@Model.PersonalInformation.ImageFile" type="file" class="custom-file-input" id="customFile" onchange="loadFile(event)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="@Model.PersonalInformation.ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonalInformation.PresentAddress" class="control-label"></label>&nbsp;*
                    <textarea asp-for="@Model.PersonalInformation.PresentAddress" class="form-control" rows="3" id="text-area" required></textarea>
                    <span asp-validation-for="@Model.PersonalInformation.PresentAddress" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonalInformation.PermanentAddress" class="control-label"></label>&nbsp;*
                    <textarea asp-for="@Model.PersonalInformation.PermanentAddress" class="form-control" rows="3" id="text-area" required></textarea>
                    <span asp-validation-for="@Model.PersonalInformation.PermanentAddress" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="btn-sm btn-primary btn btn-block">Save</button>
                </div>
                <div class="form-group col-md-6">
                    <button asp-action="Index" asp-controller="User" class="btn-sm btn-danger btn btn-block">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</div>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>