<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - CVLinked Admin Panel</title>
    <!-- Favicon -->
    <link href="@Url.Content("~/Content/img/fav.png")" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
</head>
<body class="" style="background-color:#172b4d !important ">
    <div class="main-content">
        <!-- Navbar -->
        <!-- End Navbar -->
        <div class="main">
            <div class="container-fluid pt-4">
                
                @RenderBody()
            </div>
        </div>
    </div>
    <!--   Core   -->
    <script src="@Url.Content("~/Content/js/plugins/jquery/dist/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/argon-dashboard.min.js?v=1.1.0")" type="text/javascript"></script>
</body>
</html>
